*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  color: gray;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

.letters {
  margin: 120px auto;
}

/* .letters tr {} */

.letters tr td {
  padding: .5em;
}
