<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tmvdl.nini" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nini</name>
    <description>A swipe app</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">Tarsis de Lima</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0x000000" />
    <icon src="res/icon.png" density="ldpi" />  <!-- 36x36 px -->
    <icon src="res/icon.png" density="mdpi" /> <!-- 48x48 px -->
    <icon src="res/icon.png" density="hdpi" /> <!-- 72x72 px -->
    <icon src="res/icon.png" density="xhdpi" /> <!-- 96x96 px -->
    <icon src="res/icon.png" density="xxhdpi" /> <!-- 144x144 px -->
    <icon src="res/icon.png" density="xxxhdpi" /> <!-- 192x192 px -->
</widget>
